@model List<MealPlan>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>CaloFit</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/icon.ico" />

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="assets/css/vendor/font.awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="assets/css/vendor/ionicons.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="assets/css/plugins/slick.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="assets/css/plugins/nice-select.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->

    <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- <link rel="stylesheet" href="assets/css/style.min.css"> -->
</head>

<body>
<!-- Header Area End Here -->
<div class="Tabs Plan__tabs">
    <ul class="Tabs__head">
        <li class="Tab undefined"><a asp-action="Index" asp-route-day="1" asp-route-DietName="@ViewBag.DietId" class="Tab__link "><span>Ngày 1</span></a></li>
        <li class="Tab undefined"><a asp-action="Index" asp-route-day="2" asp-route-DietName="@ViewBag.DietId" class="Tab__link "><span>Ngày 2</span></a></li>
        <li class="Tab undefined"><a asp-action="Index" asp-route-day="3" asp-route-DietName="@ViewBag.DietId" class="Tab__link "><span>Ngày 3</span></a></li>
        <li class="Tab undefined"><a asp-action="Index" asp-route-day="4" asp-route-DietName="@ViewBag.DietId" class="Tab__link "><span>Ngày 4</span></a></li>
        <li class="Tab undefined"><a asp-action="Index" asp-route-day="5" asp-route-DietName="@ViewBag.DietId" class="Tab__link "><span>Ngày 5</span></a></li>
        <li class="Tab undefined"><a asp-action="Index" asp-route-day="6" asp-route-DietName="@ViewBag.DietId" class="Tab__link "><span>Ngày 6</span></a></li>
        <li class="Tab undefined"><a asp-action="Index" asp-route-day="7" asp-route-DietName="@ViewBag.DietId" class="Tab__link "><span>Ngày 7</span></a></li>
    </ul>
    <div class="Tabs__content">
        <div class="meal-plans">
            @foreach (var meal in ViewData["list"] as List<Meal>)
            {
                <div class="meal-plan">
                    <div class="recipe-list">
                        <div class="recipe-item">
                            <img src="@meal.MealRecipes.Image.ImageFilename" alt="@meal.MealRecipesId">
                            <h3>@meal.MealRecipes.RecipeName</h3>
                            <p>Servings: @meal.MealRecipes.Servings</p>
                            <p>Cook Time: @meal.MealRecipes.CookTime</p>
                            <p>Prep Time: @meal.MealRecipes.PrepTime </p>
                            <p>Description: @meal.MealRecipes.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Footer Area Start Here -->
<footer class="footer-area">
    <div class="footer-widget-area">
        <div class="container container-default custom-area">
            <div class="row">
                <!-- First Column -->
                <div class="col-12 col-md-4 col-lg-4 col-custom">
                    <div class="single-footer-widget m-0">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="~/assets/images/logo/logo.png" alt="Logo Image" />
                            </a>
                        </div>
                        <p class="desc-content">
                            Calofit - Web lên thực đơn bữa ăn dinh dưỡng
                        </p>
                        <div class="social-links">
                            <ul class="d-flex">
                                <li>
                                    <a class="border rounded-circle" href="#" title="Facebook">
                                        <i class="fa fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="border rounded-circle" href="#" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="border rounded-circle" href="#" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="border rounded-circle" href="#" title="Youtube">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="border rounded-circle" href="#" title="Vimeo">
                                        <i class="fa fa-vimeo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Second Column -->
                <div class="col-12 col-md-4 col-lg-4 col-custom text-center d-flex align-items-center justify-content-center">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">Link</h2>
                        <ul class="widget-list">
                            <li><a href="blog-grid-fullwidth.html">Blog</a></li>
                            <li><a href="recipe.html">Công thức nấu ăn</a></li>
                            <li><a href="partners.html">Đối tác</a></li>
                            <li><a href="pricing.html">Giá cả</a></li>
                            <li><a href="meal-planner.html">Lập kế hoạch </a></li>
                            <li><a href="contact-us.html">Liên hệ</a></li>
                            <li><a href="nutrition.html">Phân tích dinh dưỡng</a></li>
                            <li><a href="shop.html">Shop nguyên liệu</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Third Column -->
                <div class="col-12 col-md-4 col-lg-4 col-custom d-flex align-items-center justify-content-center">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">Thông tin thêm:</h2>
                        <div class="widget-body">
                            <address>
                                Đại học FPT Hà Nội, Khu Công nghệ cao Hòa Lạc, Km29 Đại lộ Thăng Long, huyện
                                Thạch Thất, Hà
                                Nội<br />
                                Phone: 0399-092-221<br />
                                Email: nduyhieu210@gmail.com
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright-area">
        <div class="container custom-area">
            <div class="row">
                <div class="col-12 text-center col-custom">
                    <div class="copyright-content">
                        <p>
                            Copyright © 2024 | Built by&nbsp;<strong>CaloFit</strong>&nbsp;
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Footer Area End Here -->
    </div>
    </div>
<!-- Scroll to Top Start -->
<a class="scroll-to-top" href="#">
    <i class="ion-chevron-up"></i>
</a>
<!-- Scroll to Top End -->
<!-- JS
============================================ -->
<!-- jQuery JS -->
<script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
<!-- jQuery Migrate JS -->
<script src="~/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
<!-- Modernizer JS -->
<script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
<!-- Bootstrap JS -->
<script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>
<!-- Slick Slider JS -->
<script src="~/assets/js/plugins/slick.min.js"></script>
<!-- Countdown JS -->
<script src="~/assets/js/plugins/jquery.countdown.min.js"></script>
<!-- Ajax JS -->
<script src="~/assets/js/plugins/jquery.ajaxchimp.min.js"></script>
<!-- Jquery Nice Select JS -->
<script src="~/assets/js/plugins/jquery.nice-select.min.js"></script>
<!-- Jquery Ui JS -->
<script src="~/assets/js/plugins/jquery-ui.min.js"></script>
<!-- jquery magnific popup js -->
<script src="~/assets/js/plugins/jquery.magnific-popup.min.js"></script>

<!-- Main JS -->
<script src="~/assets/js/main.js"></script>

<script>
    const tabLinks = document.querySelectorAll('.Tab__link');

    tabLinks.forEach(link => {
        link.addEventListener('click', () => {
            tabLinks.forEach(l => l.classList.remove('Tab__active'));

            link.classList.add('Tab__active');
        });
    });
</script>
</body>
</html>